<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <!-- Branding Image -->
            <a class="navbar-brand" href="/">
                Hambaarst OÜ
            </a>
        </div>
        <div class="collapse navbar-collapse" id="app-navbar-collapse" style="margin-top:5px;">
            <!-- Left Side Of Navbar -->
            <ul class="nav nav-pills">
                <li role="presentation"><a href="/">Registreeri</a></li>
                <li role="presentation" class="active"><a href="/visits">Visiidid</a></li>
                <li role="presentation"><a href="/doctors">Arstid</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3>Muuda</h3>
            <form action="#" th:action="@{/save(id=${visit.id})}" th:object="${dentistVisitDTO}" method="post">
                <div class="form-group">
                    <p th:text="#{arsti.nimi}">arsti.nimi</p>
                    <select class="form-control" name="dentistName">

                        <option th:each="dentist : ${dentists}"
                                th:value="${dentist.dentistName}"
                                th:text="${dentist.dentistName}"
                                th:selected="${(dentist.dentistName).equals(visit.dentistName)}"
                        />
                    </select>
                </div>

                <div class="form-group">
                    <p th:text="#{visiidi.kuupaev}">visiidi.kuupaev</p>
                    <input class="form-control" type="text" th:value="${#dates.format(visit.visitTime, 'dd.MM.yyyy HH:mm')}" id="visitTime" name="visitTime"
                           placeholder="dd.MM.yyyy hh:mm"/>
                    <p th:if="${#fields.hasErrors('visitTime')}" th:errors="*{visitTime}">Kuupäeva viga</p>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" type="submit" th:text="#{salvesta.muudatus}"></button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>