<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <!-- Branding Image -->
            <a class="navbar-brand" href="/">
                Hambaarst OÜ
            </a>
        </div>
        <div class="collapse navbar-collapse" id="app-navbar-collapse" style="margin-top:5px;">
            <!-- Left Side Of Navbar -->
            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="/">Registreeri</a></li>
                <li role="presentation"><a href="/visits">Visiidid</a></li>
                <li role="presentation"><a href="/doctors">Arstid</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3>Registreeri uus aeg</h3>
            <form action="#" th:action="@{/}" th:object="${dentistVisitDTO}" method="post">
                <!--<form action="#" th:action="@{/}" method="post">-->
                <div class="form-group">
                    <p th:text="#{arsti.nimi}">arsti.nimi</p>

                    <select name="dentistName" class="form-control">
                        <option selected="selected" th:disabled="true">Vali arst</option>

                        <option th:each="dentist : ${dentists}"
                                th:value="${dentist.dentistName}"
                                th:text="${dentist.dentistName}"/>
                    </select>
                </div>
                <div class="form-group">
                    <p th:text="#{visiidi.kuupaev}">visiidi.kuupaev</p>
                    <input class="form-control" type="text" th:field="*{visitTime}" placeholder="dd.MM.yyyy hh:mm"/>
                    <p th:if="${#fields.hasErrors('visitTime')}" th:errors="*{visitTime}">Kuupäeva viga</p>

                </div>
                <div class="form-group">
                    <button class="btn btn-default" type="submit" th:text="#{registreeri.visiidile}"></button>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>